#marca {
  color: yellow;
}
#as {
  color: #8b008b;
}

a#marca:hover {
  background-color:rgb(243, 209, 164);
  color: black;
  border-radius: 10%;
}

a#as:hover {
  color: red;
  background-color:antiquewhite;
  border-radius: 10%;
}
